.carouselImage {
  position: relative !important;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.chevronButton {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevronButton:hover {
  cursor: pointer;
}

.disabledButton {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabledButton > img {
  opacity: 40%;
}

.carouselContainer {
  min-width: 50%;
  max-width: 50%;
  height: 100%;
}

@media (max-width: 700px) {
  .carouselContainer {
    min-width: 100%;
    max-width: 100%;
  }
}
